.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:global(#app) {
  .letter-button {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 1rem;
  }

  .add-button {
    margin-top: 2rem;
  }
}
